<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/register.css">
  <meta charset="UTF-8">
  <title>ZomaVids</title>
</head>
<body>
   
 <div class="container user"> HI <%=username%></div>


<form> 

  <div class="container">

   <input id="file-upload" type="file" name="myFile" />
   <input id="upload-button" type="submit" value="Upload a file"/>
   <p id="upload-progress"></p>
   
   </div>

</form>
 
<br>
<br>
 

<form action="/filetransfer/download" method="get">
    <input type="submit" value="Download">
</form>

  <br>
  <br>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type='text/javascript' src='js/file_upload_chunking.js'></script>
</html>