<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/register.css">
  <meta charset="UTF-8">
  <title>ZomaVids</title>
</head>
<body>
   
 <div class="container user"> HI <%=username%></div>


<form> 

  <div class="container">

   <input id="file-upload" type="file" name="myFile" />
   <input id="upload-button" type="submit" value="Upload a file"/>
   <p id="upload-progress"></p>
   
   </div>

</form>
 
<br>
<br>
 

<!--form action="/filetransfer/download" method="get">
    <input type="submit" value="Download">
</form>
-->
<div class="user">My Uploaded Videos</div>

    <ul>
    <% for(upload of uploads) { %>
       <li>
        <span><a href="http://localhost:5000/view/?link=<%=upload.video_id%>">
          <%= upload.video_name %>
          </a>
         <%= upload.size/1000000 %> MB</span>
      </li>
    <% } %>
    </ul>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type='text/javascript' src='js/file_upload_chunking.js'></script>
</html>