<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/register.css">
  <meta charset="UTF-8">
  <title>ZomVids</title>
</head>
<body>
   
 <div class="container user"> HI <%=username%></div>

    <div class ="container">
  <video id="vPlayer" controls width="600px">
    <source src="<%=video_link%>" type="video/mp4">
  </video>
</body>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type='text/javascript' src='../js/video_util.js'></script>
</html>